{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-expand-md pt-3 pb-3 pl-5 bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Medipol Sözlük</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse container" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    {% if app.user %}
                        <a class="text-light mr-2" href="{{ path('app_logout')}}">Log out</a>
                    {% endif %}
                </li>
                <li class="nav-item right">
                    {% if not app.user %}
                        <a class="text-light mr-2" href="{{ path('app_login') }}">Login page</a>
                        <a class="text-light" href="#">Register</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if app.user %}
                        <a class="text-light" href="{{ path('app_form') }}">Create a new title</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
    <br><br>


    <div class="container">
        {% if app.user %} Welcome {{ app.user.username }}  {% endif %}
        {% if not app.user %} Please register {% endif %}
        <br><br>
        <h3>gündem</h3> <br>



    </div>



{% endblock %}